<div class="">
  <div class="flex items-center justify-between">
    <div>
      <h1 class="font-bold text-xl">Today's Task</h1>
      <p class="text-sm text-gray-500">Wednesday, 11 May</p>
    </div>

    <div>
      <button
        class="flex items-center gap-x-2 px-5 py-2 rounded-lg bg-primary bg-opacity-20 text-primary"
      >
        <p class="text-xl">+</p>
        <p>New Task</p>
      </button>
    </div>
  </div>

  <div class="flex items-center gap-x-4 mt-6">
    <button>
      <p class="text-primary font-medium">All</p>
    </button>

    <button>
      <p class="text-gray-500 font-medium">Open</p>
    </button>

    <button>
      <p class="text-gray-500 font-medium">Completed</p>
    </button>
  </div>

  <app-todos-list />
</div>

<app-create-todo-modal />
