<app-modal
  *ngIf="visible$ | async as visible"
  [visible]="visible"
  (click)="closeCreateTodoModal()"
>
  <input
    type="text"
    class="w-full bg-transparent p-4 text-xl sm:text-2xl md:text-3xl font-semibold focus:outline-none border-b border-gray-400"
    placeholder="What do you need to do?"
    [(ngModel)]="todoTitle"
  />

  <div class="flex flex-col gap-y-2 mt-8">
    <p class="font-medium text-gray-500">Deadline</p>
    <input
      type="date"
      class="bg-primary/5 py-2 px-4 rounded-lg"
      [(ngModel)]="todoDeadline"
    />
  </div>

  <div class="flex items-center justify-center mt-12">
    <button
      class="bg-primary/30 text-primary rounded-lg w-full px-4 py-2"
      (click)="onCreateButtonClick()"
    >
      Create
    </button>
  </div>
</app-modal>
